/*
Theme Names: TM001
Theme URI: https://tm001.dev
Author: Trudy Messingham
Author URI: https://trudymessingham.co.uk
Description: Testing setup of a new theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tm001
*/
